@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #10f0dd;
    --branco: #9fecf7;
    --laranja: #25f5d9;
    --azul-degrade: linear-gradient(97.54deg, #148164 35.49%, #05523f 165.37%);
    --fonte-principal: "Poppins";
    --azul: #32d382;
    --fonte-secundario: "Josefin Sans";
    --preto: #077fe2;
    --cinza: #092d5c;
    --cinza-claro: #6b19d6;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}